body{
    background-image: url(images/galaxy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.input{
    text-align: center;
}
header p{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 245, 245);
    text-align: center;
}
main{
    padding: 100px 10px;
}
.container{
    text-align: center;
}

